*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 18px;
}

html,
body {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

body {
	margin: 0;
	--color-text: white;
	--color-bg: black;
	--color-link: #b41717;
	--color-link-hover: #000;
	--color-bg-alt: #c3bcbc;
	--color-text-alt: #111;
	/* text-transform: uppercase; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}


@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family: "Plus Jakarta Sans", sans-serif;
	color: white;
}

.container {
	width: 100vw;
	position: relative;
}

.logo {
	position: relative;
	top: 30px;
	left: 80px;
	width: min-content;
}

.content-main {
	text-align: center;
	margin-top: 260px;
	padding: 20px;
	/* background-color: red; */
}

.small-heading {
	font-size: 30px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 5px;
	color: rgba(207, 229, 255, 0.8);
}

.main-heading {
	font-size: 100px;
	font-weight: 600;
	margin-bottom: 20px;
	background: linear-gradient(93.01deg, rgba(207, 229, 255, 0.8) 6.27%, rgba(207, 229, 255, 0.8) 25%, #FFFFFF 60%, rgba(207, 229, 255, 0.6) 75%, rgba(207, 229, 255, 0.6) 78.71%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	line-height: 100px;
	letter-spacing: -2px;
}

.image-container {
	margin-top: 340px;
	margin-left: 50px;
	margin-right: 50px;
	height: 700px;
	display: flex;
	justify-content: center;
}

.image-container img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 20px;
}

.second-container {
	height: 180vh;
	display: flex;
	justify-content: center;
	/* background-color: red; */
}

.item {
	margin: 20px 0;
	display: flex;
	align-items: center;
	opacity: 1;
	position: relative;
	/* background-color: aqua; */
}

.image-section img {
	width: 150px;
}

.demo-1 {
	margin-top: -200px;
	text-align: center;
	padding: 20px;
}



.extcnt {
	height: 30vh;
	width: 100vw;
	background-color: black;
}

.part-4 {
	display: flex;
	width: 100%;
	height: 100vh;
	background-color: black;
	overflow: hidden;
}

.lft-part-4 {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 100%;
	/* background-color: red; */
}



.rght-part-4 {
	display: flex;
	flex-direction: column;
	/* background-color: red; */
	gap: 50vh;
	width: 80%;
	height: auto;
	padding-top: 25%;
	/* top: 500px; */
	margin-top: 50%;
	/* background-color: yellowgreen; */
	transition: 0.5s ease;
	overflow: hidden;
}

.content-rght-part-4 {
	display: flex;
	flex-direction: column;
	gap: 5vh;
	opacity: 1;
}

.text-section {
	font-size: 25px;
	font-weight: 600;
	line-height: 100px;
	height: 100px;
	background: linear-gradient(93.01deg, rgba(207, 229, 255, 0.8) 6.27%, #FFFFFF 40.6%, rgba(255, 255, 255, 0.7) 78.71%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	/* color: black; */
}

.contact-container {
	height: 530px;
	width: 100vw;
	/* background: linear-gradient(180deg, #DBDBDB 12.35%, #AAB1BA 100%); */
	/* background-color: #000; */
	background-image:url(foot.png);
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contact-card {
	width: 100vw;
	margin: 0 auto;
	text-align: center;
}

.contact-card h2 {
	font-size: 90px;
	font-weight: 600;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(94.09deg, rgba(3, 3, 3, 0.43) -4.04%, #000000 35.22%, #000000 76.64%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	margin-bottom: 20px;
	/* color: #b41717; */
	/* background-color: pink; */
	/* color: #c3bcbc; */
}

.contact-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	position: relative;
	transition: transform 0.5s ease;
}

.contact-buttons div {
	display: inline-block;
	/* margin: 10px; */
	padding: 10px 40px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	text-decoration: none;
	color: #000;
	background-color: #FFF;
	border-radius: 50px;
	transition: background-color 0.3s, color 0.3s, transform 0.5s ease;
}

.contact-buttons .next-arrow {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	background-color: #FFF;
	color: #000;
	transition: transform 0.5s ease, background-color 0.3s, color 0.3s;
}

.contact-buttons:hover {
	transform: translateX(-150px);
}

.contact-buttons:hover .text-button {
	transform: translateX(180px);
}

.contact-buttons:hover .next-arrow {
	transform: translateX(-125px);
}

.contact-buttons:hover div {
	background-color: #000;
	color: #FFF;
}

.video-popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.video-popup video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
}

.unbutton:focus {
	outline: none;
}

.frame {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	padding: 1rem;
	pointer-events: none;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, auto);
	grid-template-areas: 'title' 'prev' 'sponsor' 'demos';
}

.frame a,
.frame button {
	pointer-events: auto;
}

.frame__title {
	grid-area: title;
	justify-content: flex-start;
	align-items: center;
	display: flex;
	margin-bottom: 0.5rem;
}

.frame__title-main {
	font-size: 1rem;
	margin: 0;
	font-weight: 400;
}

.frame__title-back {
	position: relative;
	display: flex;
	align-items: flex-end;
}

.frame__title-back span {
	display: none;
}

.frame__title-back svg {
	fill: var(--color-link);
}

.frame__title-back:hover svg,
.frame__title-back:focus svg {
	fill: var(--color-link-hover);
}

.frame__demos {
	grid-area: demos;
}

.frame__demos a {
	margin-left: 2rem;
	position: relative;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
}

.frame__prev {
	grid-area: prev;
	justify-self: start;
}

.frame__demos-title {
	display: block;
}

.grid {
	position: relative;
	width: 100%;
	display: grid;
	z-index: 10;
	grid-template-columns: repeat(8, 1fr);
}



.grid__item {
	position: relative;
	will-change: transform;
	grid-column: var(--c);
	grid-row: var(--r);
}

.grid__item-img {
	position: relative;
	width: 220px;
	height: auto;
	aspect-ratio: 1;
	background-size: cover;
	background-position: 50% 50%;
	will-change: transform, opacity;
}

.grid__item-img2 {
	position: relative;
	width: 250px;
	height: 350px;
	background-size: cover;
	background-position: 50% 50%;
	will-change: transform, opacity;
}

.grid__item-img3 {
	position: relative;
	width: 300px;
	height: 450px;
	margin-left: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 20px;
	will-change: transform, opacity;
}


.grid__item-img,
.grid__item-img2,
#sir {
	border-radius: 20px;
}

/* .demo-1 .grid__item-img {
	filter: contrast(70%);
} */

.cover {
	position: sticky;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: linear-gradient(93.01deg, rgba(207, 229, 255, 0.8) 6.27%, #FFFFFF 40.6%, rgba(255, 255, 255, 0.7) 78.71%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-transform: uppercase;
}

.content {
	position: relative;
}

.cover__title {
	font-size: 8vw;
	font-weight: 600;
	margin: 0;
	text-align: center;
}

.cover__title sup {
	font-size: 4vw;
	font-weight: bold;
	vertical-align: 75%;
}


.footer {
	color: var(--color-text-alt);
	background: var(--color-bg-alt);
	height: 100vh;
	font-size: 5vh;
	line-height: 1.2;
	position: relative;
	z-index: 200;
	text-transform: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer p {
	max-width: 40ch;
}

@media screen and (min-width: 53em) {
	.frame {
		height: 100vh;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: 'prev sponsor' '... ...' 'title demos';
	}

	.frame__demos {
		justify-self: end;
		margin: 0 1rem;
		white-space: nowrap;
	}

	.frame__demo--current::after {
		content: '';
		position: absolute;
		top: 100%;
		height: 120%;
		width: 1px;
		left: 50%;
		background: currentColor;
	}

	.frame__demos-title {
		display: inline;
	}
}